<template>
    <div class="q-pa-md">
        <q-card class="bg-blue text-white card-view">
            <q-toolbar class="bg-primary text-white">
                <q-toolbar-title>
                    <q-icon name="category" style="font-size: 2rem;" />&nbsp; Employee
                </q-toolbar-title>
                <q-space/>
                <q-btn flat round dense icon="refresh" @click="getData" />
            </q-toolbar>

            <q-table
                class="sticky-header-table"
                :columns="view.columns"
                :data="view.data"
                row-key="id"
                :pagination.sync="view.pagination"
                :loading="view.loading"
                :filter="view.filter"
                @request="getData"
                binary-state-sort
            >
            <template v-slot:top>
                    <q-btn
                        class="q-ml-sm"
                        color="primary"
                        icon="add"
                        label="Add"
                        @click="item = 0"
                    />
                    <q-space/>
                    <q-input
                        rounded
                        primary
                        dense
                        standout="bg-teal text-white"
                        input-class="text-right"
                        class="q-ml-lg"
                        debounce="300"
                        placeholder="Search"
                        v-model="view.filter"
                    >
                    <template v-slot:append>
                        <q-icon v-if="view.filter === ''" name="search" />
                        <q-icon
                            v-else
                            name="clear"
                            class="cursor-pointer"
                            @click="view.filter = ''"
                        ></q-icon>
                    </template>
                    </q-input>
                </template>
                <template v-slot:header="props">
                    <q-tr :props="props">
                     <q-th class="text-black">Action</q-th>
                        <q-th
                            v-for="col in props.cols"
                            :key="col.name"
                            :props="props"
                            class="text-black"
                        >{{ col.label }}</q-th>
                    </q-tr>
                </template>
                <template v-slot:body="props">
                    <q-tr :props="props">
                        <q-td auto-width>
                            <q-btn
                                size="sm"
                                color="secondary"
                                round
                                dense
                                icon="library_books"
                                @click="item = props.row.id"
                            />&nbsp;
                            <q-btn
                                size="sm"
                                color="red"
                                round
                                dense
                                @click="remove(props.row.id)"
                                icon="delete"
                            />
                        </q-td>
                        <q-td
                            v-for="col in props.cols"
                            :key="col.name"
                            :props="props"
                        >{{ col.value }}</q-td>
                    </q-tr>
                </template>
            </q-table>
        </q-card>
        <Form :item="item" @formReturn="formReturn" @getData="getData"></Form>
    </div>
</template>

<script>
import Form from './Form'
import axios from 'axios'

export default {
  components: {
    Form
  },
  data () {
    return {
      api: '/employee',
      item: null,
      view: {
        columns: [
          {
            name: 'Firstname',
            label: 'Firstname',
            field: 'firstname',
            sortable: true,
            align: 'left'
          },
          {
            name: 'Lastname',
            label: 'Lastname',
            field: 'lastname',
            sortable: true,
            align: 'left'
          },
          {
            name: 'Jobs',
            label: 'Jobs',
            field: 'job',
            sortable: true,
            align: 'left'
          },
          {
            name: 'Age',
            label: 'Age',
            field: 'age',
            sortable: true,
            align: 'left'
          }
        ],
        data: [],
        original: [],
        loading: false,
        filter: '',
        pagination: {
          sortBy: 'Firstname',
          descending: false,
          page: 1,
          rowsPerPage: 25,
          rowsNumber: 0
        }
      }
    }
  },
  mounted () {
    this.getData({ pagination: this.view.pagination, filter: undefined })
  },
  methods: {
    async getData (props) {
      const res = await axios.get('http://localhost:3000/employee/')
      this.view.data = res.data
    },
    formReturn (isSave) {
      if (isSave) this.getData()
      this.item = null
    },
    async remove (id) {
      const item = this.view.data.find((el) => el.id === id)
      if (item) {
        this.$q
          .dialog({
            title: 'Confirm',
            message: `Are you sure to delete "${item.firstname}"?`,
            cancel: true,
            persistent: true
          })
          .onOk(async () => {
            const res = await axios.delete('http://localhost:3000/employee/' + item.id)
            if (res.status === 200) this.getData()
          })
      } else {
        console.log('FALSE')
      }
    }
  }
}
</script>
