<template>
    <q-banner inline-actions rounded :class="bgColor" class="list-header text-white text-center q-mb-md">
      <span class="text-bold text-subtitle1"><slot></slot></span>
    </q-banner>
</template>

<script>
export default {
  props: ['bgColor']
}
</script>

<style scoped>
</style>
