<template>
    <q-input
             outlined
             label="Author Name"
             :rules="[val => !!val || 'Field is required']"
             v-bind:value="authors"
             @input="$emit('update:authors', $event)"
             class="q-mb-sm"
             >
            <template v-slot:append>
              <q-icon v-if="authors" name="close" @click="$emit('update:authors', '')" class="cursor-pointer" />
            </template>
    </q-input>
</template>

<script>
export default {
  props: ['authors']
}
</script>

<style scoped>

</style>
