<template>
    <q-input
             outlined
             label="Avatars Photo URL"
             :rules="[val => !!val || 'Field is required']"
             v-bind:value="avatars"
             @input="$emit('update:avatars', $event)"
             class="q-mb-sm"
             >
            <template v-slot:append>
              <q-icon v-if="avatars" name="close" @click="$emit('update:avatars', '')" class="cursor-pointer" />
            </template>
    </q-input>
</template>

<script>
export default {
  props: ['avatars']
}
</script>

<style scoped>

</style>
