<template>
    <div>
        <div class="q-gutter-sm q-mt-sm q-mb-lg">
            <q-item-label>Blog Categories: </q-item-label>
            <q-checkbox v-model="tempArr[0]" val="Technology" @input="setParentArray" label="Technology" color="teal" />
            <q-checkbox v-model="tempArr[0]" val="Lifestyle" @input="setParentArray" label="Lifestyle" color="orange" />
            <q-checkbox v-model="tempArr[0]" val="Software" @input="setParentArray" label="Software" color="red" />
            <q-checkbox v-model="tempArr[0]" val="Science" @input="setParentArray" label="Science" color="cyan" />
        </div>
    </div>
</template>

<script>
export default {
  props: ['categories'],
  data () {
    return {
      tempArr: [
        this.categories
      ]
    }
  },
  methods: {
    setParentArray: function () {
      this.$emit('update:categories', this.tempArr[0])
    }
  }
}
</script>

<style scoped>

</style>
