<template>
    <div>
      <q-item-label class="q-mb-xs">Publication Date</q-item-label>
      <q-input filled v-bind:value="pubdate" mask="date" :rules="['pubdate']" @input="$emit('update:pubdate', $event)">
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
            <q-date :value="pubdate" @input="$emit('update:pubdate', $event)">
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Close" color="primary" flat />
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    </div>
</template>

<script>
export default {
  props: ['pubdate']
}
</script>

<style scoped>
</style>
