<template>
    <q-input
             outlined
             label="Title Blog"
             :rules="[val => !!val || 'Field is required']"
             autofocus
             v-bind:value="title"
             @input="$emit('update:title', $event)"
             class="q-mb-sm"
             ref="title"
             >
            <template v-slot:append>
              <q-icon v-if="title" name="close" @click="$emit('update:title', '')" class="cursor-pointer" />
            </template>
    </q-input>
</template>

<script>
export default {
  props: ['title']
}
</script>

<style scoped>

</style>
