<template>
  <q-input
            rounded
            outlined
            class="q-mb-xs"
            label="Name...."
            :rules="[val => !!val || 'Field is required']"
            v-bind:value="name"
            @input="$emit('update:name', $event)"
            autofocus
            ref="name"
            />
</template>

<script>
export default {
  props: ['name']
}
</script>

<style scoped>
</style>
