<template>
  <q-page class="q-pa-md">
    <banner-header bgColor="bg-orange">All Blog List</banner-header>
    <book-list :blogsData="blogsData"></book-list>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('blogs', ['blogsData'])
  },
  components: {
    'book-list': require('../components/Book/BookList.vue').default,
    'banner-header': require('../components/Shared/BannerPage').default
  }
}
</script>
