<template>
    <q-page class="q-pa-md">
        <detail-body :blog="blog"></detail-body>
    </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  components: {
    'detail-body': require('../components/DetailBook/DetailBody').default
  },
  computed: {
    ...mapGetters('blogs', ['blogsData'])
  },
  data () {
    return {
      blog: {
        id: this.$route.params.id,
        title: '',
        content: '',
        publishDate: '',
        publishTime: '',
        authors: '',
        avatars: '',
        Categories: []
      }
    }
  },
  mounted () {
    this.blogsData.map(dt => {
      if (dt.id.toString() === this.blog.id.toString()) {
        Object.assign(this.blog, dt)
      }
    })
  }
}
</script>

<style scoped>
</style>
