<template>
    <div>
    <q-item-label class="text-h3 absolute-center text-center" v-if="submitted">Your Blog Successfully Published</q-item-label>
     <form @submit.prevent="submitData" v-else>
          <title-comp :title.sync="dataToSubmit.title" ref="refTitle"></title-comp>
          <content-comp :content.sync="dataToSubmit.content"></content-comp>
          <date-comp :pubdate.sync="dataToSubmit.publishDate"></date-comp>
          <time-comp :pubtime.sync="dataToSubmit.publishTime"></time-comp>
          <author-comp :authors.sync="dataToSubmit.authors"></author-comp>
          <avatar-comp :avatars.sync="dataToSubmit.avatars"></avatar-comp>
          <categories-comp :categories.sync="dataToSubmit.Categories"></categories-comp>
          <button-comp name="Update" class="float-right q-mb-xl q-mr-md"></button-comp>
      </form>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    'title-comp': require('../Shared/FormComponent/Title').default,
    'content-comp': require('../Shared/FormComponent/Content').default,
    'date-comp': require('../Shared/FormComponent/Date').default,
    'time-comp': require('../Shared/FormComponent/Time').default,
    'author-comp': require('../Shared/FormComponent/Authors.vue').default,
    'avatar-comp': require('../Shared/FormComponent/Avatars').default,
    'categories-comp': require('../Shared/FormComponent/Categories').default,
    'button-comp': require('../Shared/FormComponent/Button').default
  },
  computed: {
    ...mapGetters('blogs', ['blogsData'])
  },
  data () {
    return {
      dataToSubmit: {
        id: this.$route.params.id,
        title: '',
        content: '',
        publishDate: '',
        publishTime: '',
        authors: '',
        avatars: '',
        Categories: []
      },
      submitted: false
    }
  },
  created () {
    this.blogsData.map(dt => {
      if (dt.id.toString() === this.dataToSubmit.id.toString()) {
        Object.assign(this.dataToSubmit, dt)
      }
    })
  },
  methods: {
    ...mapActions('blogs', ['updateBlogs']),
    'update-cat': function (val) {
      console.log(val)
    },
    submitData: function () {
      this.$refs.refTitle.$refs.title.validate()
      if (!this.$refs.refTitle.$refs.title.hasError) {
        this.updateBlogs(this.dataToSubmit)
        this.$router.push({ name: 'pagebook' })
      }
    }
  }
}
</script>

<style scoped>

</style>
