<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',
  beforeCreate () {
    if (localStorage.username === undefined) {
      this.$router.push({ name: 'login' })
    }
  }
}
</script>
