<template>
  <div>
    <div class="row items-start justify-center">
      <q-input rounded outlined v-model="search" label="Search Blog..." class="q-mb-md q-mr-xs col-8" />
      <q-select outlined v-model="sortBy" :options="options" label="Sort By" class="col-md-3"/>
    </div>
    <div v-if="sortBy === 'Latest'">
      <div v-for="blog in sortDataLatest" :key="blog.id" >
          <book :blog="blog"></book>
      </div>
    </div>
    <div v-else-if="sortBy === 'Longest'">
      <div v-for="blog in sortDataLongest" :key="blog.id" >
          <book :blog="blog"></book>
      </div>
    </div>
    <div v-else-if="sortBy === 'A-Z'">
      <div v-for="blog in sortDataAZ" :key="blog.id">
        <book :blog="blog"></book>
      </div>
    </div>
    <div v-else-if="sortBy === 'Z-A'">
      <div v-for="blog in sortDataZA" :key="blog.id">
        <book :blog="blog"></book>
      </div>
    </div>
    <div v-else>
       <div v-for="blog in filterBlogs" :key="blog.id" >
          <book :blog="blog"></book>
       </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blogsData'],
  components: {
    book: require('../Book/Book').default
  },
  data () {
    return {
      search: '',
      options: ['Normal', 'Latest', 'Longest', 'A-Z', 'Z-A'],
      sortBy: ''
    }
  },
  computed: {
    filterBlogs: function () {
      return this.blogsData.filter((blog) => {
        return blog.title.toLowerCase().match(this.search.toLowerCase())
      })
    },
    sortDataLatest: function () {
      return this.filterBlogs.slice().sort(function (a, b) {
        return (a.publishDate > b.publishDate) ? 1 : -1
      })
    },
    sortDataLongest: function () {
      return this.filterBlogs.slice().sort(function (a, b) {
        return (a.publishDate < b.publishDate) ? 1 : -1
      })
    },
    sortDataAZ: function () {
      return this.filterBlogs.slice().sort(function (a, b) {
        return (a.title > b.title) ? 1 : -1
      })
    },
    sortDataZA: function () {
      return this.filterBlogs.slice().sort(function (a, b) {
        return (a.title < b.title) ? 1 : -1
      })
    }
  }
  // slice => membuat sebuah array baru dari hasil filter sort
}
</script>

<style scoped>

</style>
