<template>
    <div class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center">
        <div>
            <div style="font-size: 9vh">
                Awesome Blog
            </div>
            <div class="forms">
                <form @submit.prevent="onSubmit" @keypress:enter.prevent="onSubmit">
                    <div class="text-h3 q-mb-lg text-primary">
                        Register Page
                        <hr/>
                        <p class="text-h6 text-negative" v-if="wrong">Username has been used!</p>
                    </div>
                    <name-comp :name.sync="auth.name" ref="names"></name-comp>
                    <username-comp :username.sync="auth.username" ref="username"></username-comp>
                    <password-comp :password.sync="auth.password" ref="password"></password-comp>
                    <button-comp names="Regsiter"></button-comp>
                </form>
                <q-btn flat class="text-primary q-mt-sm" label="Have An Account? Login" to="/"/>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: ['userData'],
  components: {
    'username-comp': require('../Shared/FormComponent/Auth/Username').default,
    'password-comp': require('../Shared/FormComponent/Auth/Password').default,
    'name-comp': require('../Shared/FormComponent/Auth/Name').default,
    'button-comp': require('../Shared/FormComponent/Auth/ButtonAuth').default
  },
  data () {
    return {
      auth: {
        id: Math.random(),
        name: '',
        username: '',
        password: ''
      },
      wrong: false
    }
  },
  methods: {
    ...mapActions('blogs', ['addUsers']),
    onSubmit () {
      this.$refs.username.$refs.user.validate()
      if (!this.$refs.username.$refs.user.hasError) {
        this.$refs.password.$refs.pass.validate()
        if (!this.$refs.password.$refs.pass.hasError) {
          this.$refs.names.$refs.name.validate()
          if (!this.$refs.names.$refs.name.hasError) {
            var a = {
              username: ''
            }
            this.userData.forEach((dt) => {
              if (dt.username.toLowerCase().toString() === this.auth.username.toLowerCase().toString()) {
                Object.assign(a, dt)
              }
            })
            if (a.username === '') {
              this.wrong = false
              this.addUsers(this.auth)
              this.$router.push({ name: 'login' })
            } else {
              this.wrong = true
            }
          }
        }
      }
    }
  }
}
</script>

<style scoped>
        .forms {
        border-radius: 25px;
        background: whitesmoke;
        padding: 30px;
    }
</style>
